<ion-view view-title="Contact">
  <ion-content class="padding">
    <div class="padding-top padding-bottom" style="margin:10px auto; text-align: center">
      <img src="img/logo.png">
    </div>

  <div style="text-align: center">
    <p> Feel free to contact us on telephone <a href="tel:0038971989903"> +389 71 989 903 </a> </p>
    <p> Email address: info@englishforlife.mk </p>
    <p> Official website: <a onclick="window.open('http://www.englishforlife.mk','_system','location=yes')"> http://www.englishforlife.mk </a> </p>
    <p> FB Fan Page: <a onclick="window.open('https://www.facebook.com/En4Life/','_system','location=yes')"> https://www.facebook.com/En4Life/ </a> </p>
    <p> Or just feel free to contact us via Facebook by searching Ardian Deari </p>
  </div>
  </ion-content>
</ion-view>
