<ion-view view-title="Home">
  <ion-content class="padding">
   <h4> About us <h4>
     <p style="font-size:14px"> 
       English For Life is a private language school which offers students all around the world free online lessons.
       We believe that in order to meet the demands of a growing diversified community, we must offer quality language instruction and continue  to provide professional customer service. It is our strong commitment to diligently carry out our function as language educators for the members of our community and individuals around the world.

<br><br>
      <h4> -Mission- </h4>
      Our core mission is “Making Knowledge Work” - which we do through: <br><br> 

      -To enable people to communicate effectively in English by our qualified and experienced teaching staff. <br><br>

      -Providing engaging and innovative teaching and learning, which instils an ethos of innovation and responsible leadership, preparing students for the everyday life situations. <br><br>

      -Prepare students academically to meet university course standards. <br><br>

      -Exceed students' expectations in language courses. <br><br>

      -Enhance students' self-esteem in their practice of second language skills. <br><br>

      -Promote the importance of multilingualism in our community. <br><br>

      -Provide additional out-of-class resources for language practice. <br><br>

      -Motivate students towards their educational goals and objectives. <br><br>

      -A lifelong passion for learning. <br><br>
      
      -Creativity, critical thinking and a lifelong passion for learning are essential to personal fulfillment and to meet the challenges of the future. <br><br>
 </p>
   
  </ion-content>
</ion-view>
